'exception-reporting':
  'userId': '37172181-d5cb-7494-39dc-22b646091fa4'
'release-notes':
  'viewedVersion': '0.81.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '8b9bf613c3d5e2bcc31e289ef5f1ec5b71376fb3'
'editor':
  'fontSize': 15
  'showIndentGuide': true
  'softWrapAtPreferredLineLength': true
  'tabLength': 4
'core':
  'themes': [
    'atom-dark-ui'
    'tomorrow-night-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
    'node_modules/'
    'dist/'
  ]
  'disabledPackages': [
    'metrics'
  ]
  'projectHome': '/Users/jakob/Repos'
'atom-beautify':
  'beautifyOnSave': true
  'css_indent_size': 4
  'js_indent_size': 4
  '_analyticsUserId': '6940327f-8590-444e-9500-893d4391275d'
