"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 15
    tabLength: 4
  core:
    themes: [
      "atom-dark-ui"
      "tomorrow-night-eighties"
    ]
    projectHome: "/Users/jakob/repos"
    disabledPackages: [
      "linter-jscs"
    ]
  "exception-reporting":
    userId: "1786f002-b354-481f-a8a8-7c07636848cf"
  welcome:
    showOnStartup: false
  linter:
    statusBar: "Show error of the selected line"
  "autocomplete-plus": {}
  emmet: {}
  docblockr: {}
  minimap: {}
  "atom-beautify": {}
  "git-diff": {}
  "markdown-preview": {}
