"*":
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 15
    tabLength: 4
  core:
    themes: [
      "atom-dark-ui"
      "tomorrow-night-eighties"
    ]
    projectHome: "/Users/jakob/repos"
  "exception-reporting":
    userId: "1786f002-b354-481f-a8a8-7c07636848cf"
  welcome:
    showOnStartup: false
  linter:
    statusBar: "Show error of the selected line"
  "autocomplete-plus": {}
  emmet: {}
  docblockr: {}
  minimap:
    plugins:
      "git-diff": true
  "atom-beautify":
    _analyticsUserId: "7dc77a61-e59c-4c7f-b59a-f9f97e82f1a1"
    js_end_with_newline: true
    disabledLanguages: [
      "GitHub Markdown"
    ]
    muteAllErrors: true
    beautifyOnSave: true
  "git-diff": {}
  "markdown-preview": {}
  "linter-jscs": {}
  "tree-view":
    hideVcsIgnoredFiles: true
